@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
body{
    background-color:aquamarine;
    display:none;
}
#md{
    text-align:center;
    background-color:whitesmoke;
    color:blue;
    
}
#date {
    text-align: center;
    font-size:25px;
    background-color:greenyellow;
}
h2{
    color:white;
    background-color:orangered;
}
#cr{
    text-align: right;
}
#so {
    font-size: 50px;
    text-align:center;
}
#An{
    display: none;
}
#GM{
  font-family: 'Exo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
